.button-solid {
  display: inline-block;
  padding: 0.5rem 2rem;
  font-size: 1.2rem;
  
  color: ghostwhite;
  background-color: color-mix(in srgb, var(--dark--text-color-accent) 80%, transparent);
  border: solid 1px color-mix(in srgb, var(--dark--text-color-accent) 60%, white);
  border-radius: 1rem;
  box-shadow: 1px 1px 4px rgba(255,255,255, 0.2);

  transition: all 300ms ease-in-out;

  &:hover {
    color: white;
    background-color: var(--dark--text-color-accent);
  }

  @media (prefers-color-scheme: light) {
    color: ghostwhite;
    background-color: color-mix(in srgb, var(--light--text-color-accent) 80%, transparent);
    border-color: color-mix(in srgb, var(--light--text-color-accent) 60%, white);
    box-shadow: 1px 1px 4px rgba(0,0,0, 0.2);

    &:hover {
      color: white;
      background-color: var(--light--text-color-accent);
    }
  }

}
