.unsplash-image {
  position: relative;
  display: flex;
  justify-content: center;
  &.full {
    display: block;
    width: 100%;
    height: 100%;
    
    .inner {
      max-height: 100%;

      img {
        width: 100%;
        object-fit: cover;
        object-position: center;
        &.cover-top {
          object-position: top;
        }
        &.cover-bottom {
          object-position: bottom;
        }        
      }
    }

  }

  .inner {
    position: relative;
    overflow: hidden;
    box-shadow: 2px 4px 6px rgb(99,99,99, 0.5);
    
    img {
      display: block;
      height: auto;
    }
  
    .credit {
      position: absolute;
      bottom: 0; 
      left: 0; right: 0; width: 100%;
      padding: 0.5rem 1rem;
      background: rgba(0,0,0, 0.8);
      color: white;    
  
      transform: translateY(100%);
      transition: transform 500ms ease-in-out;
    }
  
    &:hover {
      img { opacity: .7; }
      .credit {
        transform: translateY(0);
      }
    }
  }
}