.series-intro {
  display: block;
  margin: 2rem 0;
  .intro {
    max-width: 600px;
    margin: 0 auto;
    padding: 0.5rem 1rem;
    border-top: solid 2px slategray;
    border-bottom: solid 2px slategray;

    font-size: 1.25rem;
  }

  @media (prefers-color-scheme: light) {
  }
}